@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,100");

$font-body: "Roboto", sans-serif;

$background-color: #fff;
$color-red: #e65c43;
$color-light-red: #f25c43;
$color-grey: #666;
$color-light-grey: #f5f6f6;
$color-footer: #30353d;

$background-image: "../images/bg.gif";
$logo-image: "../images/logo.png";
$social-media-image: "../images/social-media.png";